<div class="container mt-5">
    <h1>Mentions Légales</h1>
  
    <h2>Éditeur du site</h2>
    <p>Nom : Aappma Brochet de Basse Vilaine</p>
    <p>Adresse : La Roche-Bernard, France</p>
    <p>Téléphone : 07 67 09 94 87</p>
    <p>Email : <a href="mailto:aappmabbv@gmail.com">aappma</a></p>
  
    <h2>Développement du site</h2>
    <p>Nom : Vacheron Alyssa</p>
  
    <h2>Hébergement</h2>
    <p>Nom : OVH</p>
    <p>Adresse : 2 rue Kellermann, 59100 Roubaix, France</p>
    <p>Téléphone : 1007</p>
  
    <h2>Propriétaire du site</h2>
    <p>Le propriétaire du site est l'AAPPMA Brochet de Basse Vilaine.</p>
  </div>
  