/* Styles de la galerie */
.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.photo-item {
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* Pour garder un ratio 1:1 */
  overflow: hidden;
  position: relative;
}

.photo-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assure que l'image occupe toute la place sans déformation */
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  color: #0daa76; /* Couleur du titre de la carte */
}

.limited-height {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

h1, h2 {
  text-align: center;
}

h2 {
  color: #027011; /* Couleur du titre de la catégorie */
  font-weight: bold;
}

/* Modale */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto; /* Permet de faire défiler si l'image est trop grande */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  max-width: 90%; /* Limite la largeur à 90% de l'écran */
  max-height: 90vh; /* Limite la hauteur à 90% de l'écran */
  overflow: hidden; /* Empêche le dépassement */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color: red;
}

/* Image dans la modale */
img.img-fluid {
  max-width: 100%; /* L'image ne dépasse jamais la largeur de la fenêtre */
  max-height: 90vh; /* L'image ne dépasse jamais 90% de la hauteur de la fenêtre */
  object-fit: contain; /* L'image garde ses proportions sans être coupée */
  margin: 0 auto; /* Centrer l'image horizontalement */
  display: block; /* Assure que l'image est centrée et a un espacement automatique */
}

/* Card image styles */
.card-body {
  padding: 10px;
}

.card-img-top {
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Garde les proportions sans déformation, en coupant l'image si nécessaire */
}
