<div class="container mt-5 content">
    <article>
      <h2>Membres du Conseil d'Administration</h2>
      <ul>
        <li>BODET Frédéric</li>
        <li>BRIAND Christophe</li>
        <li>CAUFFMAN Jean-Claude</li>
        <li>DELANOE Bruno</li>
        <li>HASPOT Pascal</li>
        <li>MONFLIER Gilbert</li>
        <li>CHERET Kilian</li>
        <li>VACHERON Alyssa</li>
        <li>LAVOISIER Antoine</li>
        <li>NOBLRE Alain</li>
        <li>ANDRIEU Michel</li>
        <li>BUZET Jean Bernard</li>
      </ul>
  
      <hr>
  
      <h2>Délégué à L'AG de la FD</h2>
      <p>DELANOE BRUNO</p>
      <hr>
  
      <h2>Contact AAPPMA du Brochet de Basse Vilaine</h2>
      <address>
        <p>Mail: <a href="mailto:aappmabbv@gmail.com">aappmabbv&#64;gmail.com</a></p>
        <p>Site: <a href="http://aappma-brochet-basse-vilaine.eu" target="_blank">aappma-brochet-basse-vilaine.eu</a></p>
      </address>
  
      <h2>Bureau élu à la suite de l'Assemblée Générale</h2>
      <h3>Règlement Spécifique Garderie</h3>
      <p>Président: BRIAND Christophe</p>
      <p>Secrétaire: VACHERON Alyssa</p>
      <p>Trésorier: HASPOT Pascal</p>
    </article>
  </div>
  