* {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  .page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .site-footer, .page-wrap:after {
    height: 142px; 
  }
  .site-footer {
    background-color: #343a40; /* Couleur de fond du footer */
    color: white; /* Couleur du texte du footer */
    text-align: center;
    margin-top: 2%;
    padding-top: 2px;
}

footer a {
    color: white;
    text-decoration: none;
    
}


footer a:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
}
.btn-primary {
    background-color: #0daa76;
    border-color: #0daa76;
    color: white;
}