.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* L'image couvrira toute la zone sans déformation */
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .btn-primary {
    background-color: #0daa76;
    border-color: #0daa76;
    color: white;
}
   .image-container img {
    max-height: 400px; /* Limite la hauteur maximale de l'image */
    width: 100%; /* Assurez-vous que la largeur de l'image est de 100% */
    object-fit: cover; /* Permet à l'image de remplir son conteneur tout en conservant ses proportions */
}
