<div class="container mt-5">
  <h1>Les Événements</h1>

  <!-- Prochains Événements -->
  <h2>À venir</h2>
  <section class="row">
    <div *ngFor="let event of upcomingEvents" class="col-md-4 mb-4">
      <app-card
        [imageUrl]="event.imageUrl"
        [title]="event.title"
        [description]="event.description"
        [link]="event.link">
      </app-card>
    </div>
  </section>

  <!-- Événements Passés -->
  <h2>Passés</h2>
  <section class="row">
    <div *ngFor="let event of pastEvents" class="col-md-4 mb-4">
      <app-card
        [imageUrl]="event.imageUrl"
        [title]="event.title"
        [description]="event.description"
        [link]="event.link">
      </app-card>
    </div>
  </section>
</div>
