footer {
    background-color: #343a40; /* Couleur de fond du footer */
    color: white; /* Couleur du texte du footer */
    text-align: center;
    padding: 10px;
    margin-top: 2%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
